@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Rubik', sans-serif;
    background: url('../public/images/tausta.jpg') no-repeat center center fixed;
    background-size: cover;
}

body {
    background-color: #c6e0e4;
    min-height: 100vh;
    max-width: 40rem;
    margin: 0 auto;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.5);
}

header {
    background: linear-gradient(120deg, rgb(220, 241, 241) 0%, rgb(123, 208, 214) 36%, rgb(46, 106, 146) 100%);
    padding: 1rem 1.5rem;
    height: 150px;
    position: relative;
}

header h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: normal;
    margin-left: 0.5rem;
}

header a {
    color: #000;
    text-decoration: none;
}


.profile {
    font-size: small;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.profile div {
    margin-left: 1rem;
}

section {
    padding: 1.5rem 1rem 1rem 1rem;
}

section h1 {
    margin-bottom: 1rem;
}

hr {
    border: none;
    border-top: solid #1B1B3A 2px;
    margin: 1rem;
}

footer {
    font-size: 0.8rem;
    text-align: center;
    color: #1B1B3A;
}

/* Palvelut tyylit */

.palvelut {
    display: flex;
    flex-direction: column; /* Asettaa palvelut pystysuoraan */
}

.palvelu-item {
    display: flex;
    flex-direction: column; /* Linkki ja sisältö pystysuoraan */
    margin: 0 0 1rem 0; /* Poistaa vasemman marginaalin ja säilyttää muiden marginaalit */
    padding: 0 0 1rem 0; /* Poistaa vasemman paddingin ja säilyttää muiden paddingit */
    border-bottom: 1px solid #ddd; /* Rajaa palvelu-itemit */
}

.palvelu-link {
  
    flex: 1; /* Linkki vie tilaa, mutta ei ole liian suuri */
}

.palvelu-link a {
  
  text-decoration: double;
  color: #000;

}

.palvelu-link a:hover {
  
  color:#975579

}
.palvelu-content {
    flex: 3; /* Sisältö vie enemmän tilaa */
    padding-left: 1rem; /* Väliä linkin ja sisällön väliin */
}

/* Lomakkeen kentät */
form > div {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}

/* Tekstikentät ja tekstialueet */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    border: 1px solid #999;
    border-radius: 0.3rem;
    padding: 0.45rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
}

/* Lomakkeen lähetyspainike */
input[type="submit"] {
    padding: 0.5rem 1.5rem;
    border-radius: 0.3rem;
    background-color: #77a7b3;
    color: #0a0a0a;
    font-weight: bold;
    min-width: 12rem;
    margin: 1rem auto;
    cursor: pointer;
    border: none;
}

/* Lomakkeen lähetyspainikkeen hover-tila */
input[type="submit"]:hover {
    background-color: #975579;
}

/* Tekstialueen tyyli */
textarea {
    resize: vertical;
    min-height: 150px;
}

.navigointi ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.navigointi li {
    display: inline;
}

.navigointi a {
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    color: #000;
}

.navigointi a:hover {
    color: #975579;
}

.info {
    background-color: #e5e5e5;
    border: 1px solid #999;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}

.info a {
    color: #975579;
}

.navigointi {
    margin: 0;
    padding: 2.4rem 0;
}

.etusesivun-lista {
  list-style-type: none; /* Poistaa luettelopallot */
  padding: 0; /* Poistaa sisennykset */
  margin: 0; /* Poistaa ulkoreunan */
}

.etusesivun-lista li {
  margin-bottom: 1rem; /* Lisää tilaa listan kohtien väliin */
}
